nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
Dockerfile*
*.md 
Vagrantfile
composer.lock
.en*
dist
*.yml
app/vendor/
app/public/vendor/
app/config/development.config.php
app/config/autoload/local.php
app/config/autoload/*.local.php
!app/public/vendor/README.md
app/data/cache/*
!app/data/cache/.gitkeep
